.grid{
    width: 100%;
    display: block;
    padding: 0;
}
.grid.wide{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.row.no-gutter{
    margin-right: 0;
    margin-left: 0;
}
.row.hotDeal-row{
    margin-right: -5px;
    margin-left: -5px;
}
.row.discount-payonl-row{
    margin-right: -15px;
    margin-left: -15px;
}
.row.techNew-row{
    margin-right: -2.5px;
    margin-left: -2.5px;
}
.gutter{
    padding-left: 10px;
    padding-right: 10px;
}
.hotDeal-gutter{
    padding-left: 5px;
    padding-right: 5px;
}
.discount-payonl-gutter{
    padding-left: 15px;
    padding-right: 15px;
}
.techNew-gutter{
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.mt-gutter{
    padding-left: 0;
    padding-right: 0;
}
.c-1{
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}
.c-1-2{
    flex:  0 0 10%;
    max-width: 10%;
}
.c-2{
    flex: 1 0 16.6667%;
    max-width: 16.6667%;
}
.c-2-4{
    flex: 1 0 20%;
    max-width: 20%;
}
.c-3{
    flex: 1 0 25%;
    max-width: 25%;
}
.c-4{
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
}
.c-5{
    flex: 1 0 41.6667%;
    max-width: 41.6667%;
}
.c-6{
    flex: 1 0 50%;
    max-width: 50%;
}
.c-7{
    flex: 1 0 58.3333%;
    max-width: 58.3333%;
}
.c-8{
    flex: 1 0 66.6667%;
    max-width: 66.6667%; 
}
.c-9{
    flex: 1 0 75%;
    max-width: 75%;
}
.c-12{
    flex: 1 0 100%;
    max-width: 100%;
}
