.cate__feature__wrapper{
    display: block;
    overflow: hidden;
    background: var(--white-origin--);
    border-radius: 12px;
    filter: var(--box-shadow-1--)
}
.cate__feature__title{
}
.cate__feature__list{
    padding: 0 40px 30px;
}
.cate__feature__iem__wrapper{
    display: block;
    padding: 10px 0;
}
.cate__feature__img__wrapper{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.cate__feature__img{
    width: 100%;
    height: 100%;
}
.cate__feature__content{
    padding: 0 5px;
    font-size: var(--fs-3--);
    line-height: var(--lh-4-1--);
    color: var(--black-2--);
    font-weight: var(--normal--);
    text-align: center;
}